[submodule "caustic-assembler"]
	path = caustic-assembler
	url = https://github.com/Caua726/Caustic-Assembler.git
	branch = main
[submodule "caustic-linker"]
	path = caustic-linker
	url = https://github.com/Caua726/Caustic-Linker.git
