use "std/mem.cst";
use "std/linux.cst";

fn main() as i32 {
    // Inicializa Heap Global
    gheapinit(96);
    write(STDOUT, "Heap OK.\n", 9);
    
    // Aloca
    let is *u8 as str = galloc(1);
    
    // Escreve (Cópia manual char a char)
    let is *u8 as src with mut = "Ola, você é bizzaro\n";
    str[0] = src[0];
    str[1] = src[1];
    str[2] = src[2];
    str[3] = src[3];
    str[4] = src[4];
    str[5] = src[5];
    str[6] = src[6];
    str[7] = src[7];
    str[8] = src[8];
    str[9] = src[9];
    str[10] = src[10];
    str[11] = src[11];
    str[12] = src[12];
    str[13] = src[13];
    str[14] = src[14];
    str[15] = src[15];
    str[16] = src[16];
    str[17] = src[17];
    str[18] = src[18];
    str[19] = src[19];
    str[20] = src[20];
    str[21] = src[21];
    str[22] = src[22];
    str[23] = src[23];
    str[24] = src[24];
    str[25] = src[25];
    str[26] = src[26];
    str[27] = src[27];
    str[28] = src[28];
    str[29] = src[29];
    str[30] = src[30];
    str[31] = src[31];
    write(STDOUT, str, 32);
    gfree(str);
    gfree(str);
    gfree(str);
    galloc(2);

    src = "Eu vou testar mudar a string\n";
    str[0] = src[0];
    str[1] = src[1];
    str[2] = src[2];
    str[3] = src[3];
    str[4] = src[4];
    str[5] = src[5];
    str[6] = src[6];
    str[7] = src[7];
    str[8] = src[8];
    str[9] = src[9];
    str[10] = src[10];
    str[11] = src[11];
    str[12] = src[12];
    str[13] = src[13];
    str[14] = src[14];
    str[15] = src[15];
    str[16] = src[16];
    str[17] = src[17];
    str[18] = src[18];
    str[19] = src[19];
    str[20] = src[20];
    str[21] = src[21];
    str[22] = src[22];
    str[23] = src[23];
    str[24] = src[24];
    str[25] = src[25];
    str[26] = src[26];
    str[27] = src[27];
    str[28] = src[28];
    str[29] = src[29];
    str[30] = src[30];
    str[31] = src[31];
    write(STDOUT, str, 32);

    src = "Eu não sou bizzaro\n";
    str[0] = src[0];
    str[1] = src[1];
    str[2] = src[2];
    str[3] = src[3];
    str[4] = src[4];
    str[5] = src[5];
    str[6] = src[6];
    str[7] = src[7];
    str[8] = src[8];
    str[9] = src[9];
    str[10] = src[10];
    str[11] = src[11];
    str[12] = src[12];
    str[13] = src[13];
    str[14] = src[14];
    str[15] = src[15];
    str[16] = src[16];
    str[17] = src[17];
    str[18] = src[18];
    str[19] = src[19];
    str[20] = src[20];
    str[21] = src[21];
    str[22] = src[22];
    str[23] = src[23];
    str[24] = src[24];
    str[25] = src[25];
    str[26] = src[26];
    str[27] = src[27];
    str[28] = src[28];
    str[29] = src[29];
    str[30] = src[30];
    str[31] = src[31];
    write(STDOUT, str, 32);


    let is *u8 as ptr1 = galloc(1); // Pega endereço 100
    let is *u8 as ptr2 = galloc(1); // Pega endereço 132 (logo depois)
    ptr1[90] = cast(u8, "A");
    write(STDOUT, ptr1, 61);
    write(STDOUT, ptr2, 61);
    
    return 0;
}