fn main() as i32 {
    let is [8]u8 as buf;
    
    buf[0] = 79;
    buf[1] = 108;
    buf[2] = 97;
    buf[3] = 10;
    
    let is *u8 as ptr = &buf[0];
    
    let is i64 as ret = syscall(1, 1, ptr, 4);
    
    return 0;
}
