fn main() -> i16 {
    let is i16 as i with mut = 1;
    let is i16 as s with mut = 2;
    let is i16 as a with mut = 4;
    let is i16 as b with mut = 6;
    while (i < 100) {
        i = i + 1;
        if (s == a) {
            a = a + 57;
        }
        if (a == 4) {
            s = s + 25;
        }
        if (s == a) {
            b = b + 15;
        }
        if (s == a) {
            b = b + 15;
        }
        if (i == 5) {
            i = i + 55;
        }
        if (i == 10) {
            i = i + 10;
        }
        if (i == 15) {
            i = i + 15;
        }
    }
    return i;
}
