struct Point { x as i32; y as i32; } // 8 bytes

fn main() as i32 {
    // 1. Teste Sizeof
    let is i32 as size = sizeof(Point); // Vira "let size = 8"
    
    // 2. Teste Cast (Inteiro para Ponteiro)
    let is *u8 as ptr = cast(*u8, 1024);
    
    // 3. Teste Shift (Alinhamento)
    // (1 << 4) = 16
    let is i32 as aligned = 1 << 4;
    
    if (size == 8 && aligned == 16) {
        return 1; // Sucesso
    }
    return 0;
}
