use "../../std/io.cst" as io;
fn main() as i32 {
    let is i64 as x with mut = 10;
    let is i64 as old = atomic_add(&x, 5);      // old=10, x=15
    let is i64 as prev = atomic_xchg(&x, 100);  // prev=15, x=100
    io.printf("old=%d prev=%d x=%d\n", old, prev, x);
    return cast(i32, old + prev);   // 25
}
