use "../../std/io.cst" as io;
fn main() as i32 {
    io.write_str(io.STDOUT, "count: ");
    io.write_int(io.STDOUT, 12345);
    io.write_str(io.STDOUT, "\n");
    let is i64 as i with mut = 0;
    while (i < 3) {
        io.write_str(io.STDOUT, "  item ");
        io.write_int(io.STDOUT, i * i);
        io.write_str(io.STDOUT, "\n");
        i = i + 1;
    }
    return 5;
}
