use "../../std/io.cst" as io;
fn main() as i32 {
    io.printf("hello %s, %d + %d = %d\n", "world", 20, 22, 42);
    io.printf("hex ff = %x, char = %c\n", 255, 65);
    let is i64 as i with mut = 0;
    while (i < 3) { io.printf("  row %d: sq=%d\n", i, i * i); i = i + 1; }
    return 0;
}
