use "../../std/linux.cst" as linux;

// === Char classifiers ===

fn is_alpha(c as u8) as i32 {
    if (c >= 65 && c <= 90) { return 1; }
    if (c >= 97 && c <= 122) { return 1; }
    if (c == 95) { return 1; }
    return 0;
}

fn is_digit(c as u8) as i32 {
    if (c >= 48 && c <= 57) { return 1; }
    return 0;
}

fn is_alnum(c as u8) as i32 {
    if (is_alpha(c) == 1) { return 1; }
    if (is_digit(c) == 1) { return 1; }
    return 0;
}

fn is_hex(c as u8) as i32 {
    if (c >= 48 && c <= 57) { return 1; }
    if (c >= 97 && c <= 102) { return 1; }
    if (c >= 65 && c <= 70) { return 1; }
    return 0;
}

// === Number parsers ===

fn parse_decimal(src as *u8, start as i64, end as i64) as i64 {
    let is i64 as result with mut = 0;
    let is i64 as i with mut = start;
    while (i < end) {
        result = result * 10 + cast(i64, src[i]) - 48;
        i = i + 1;
    }
    return result;
}

fn parse_hex_val(src as *u8, start as i64, end as i64) as i64 {
    let is i64 as result with mut = 0;
    let is i64 as i with mut = start;
    while (i < end) {
        let is u8 as c = src[i];
        if (c >= 48 && c <= 57) {
            result = result * 16 + cast(i64, c) - 48;
        } else if (c >= 97 && c <= 102) {
            result = result * 16 + cast(i64, c) - 87;
        } else if (c >= 65 && c <= 70) {
            result = result * 16 + cast(i64, c) - 55;
        }
        i = i + 1;
    }
    return result;
}

fn parse_float(src as *u8, start as i64, end as i64) as f64 {
    let is f64 as result with mut = 0.0;
    let is i64 as i with mut = start;
    while (i < end && src[i] != 46) {
        result = result * 10.0 + cast(f64, cast(i64, src[i]) - 48);
        i = i + 1;
    }
    if (i < end && src[i] == 46) {
        i = i + 1;
        let is f64 as frac with mut = 0.1;
        while (i < end) {
            result = result + cast(f64, cast(i64, src[i]) - 48) * frac;
            frac = frac * 0.1;
            i = i + 1;
        }
    }
    return result;
}

fn resolve_escape(c as u8) as i64 {
    if (c == 110) { return 10; }
    if (c == 116) { return 9; }
    if (c == 114) { return 13; }
    if (c == 48)  { return 0; }
    if (c == 92)  { return 92; }
    if (c == 39)  { return 39; }
    if (c == 34)  { return 34; }
    return cast(i64, c);
}
