use "../../std/mem.cst" as mem;
use "../lexer/tokens.cst" as tok;
use "../lexer/util.cst" as lu;
use "ast.cst" as ast;
use "util.cst" as pu;
use "type.cst" as pt;

fn new_bin(kind as i32, l as *ast.Node, r as *ast.Node) as *ast.Node {
    let is *ast.Node as n = ast.new_node(kind);
    n.tok_idx = l.tok_idx; n.lhs = l; n.rhs = r;
    return n;
}

fn parse_arg_list() as *ast.Node {
    let is *ast.Node as head with mut = cast(*ast.Node, 0);
    let is *ast.Node as tail with mut = cast(*ast.Node, 0);
    if (pu.cur().kind == tok.TK_RPAREN) { return head; }
    while (1) {
        let is *ast.Node as a = parse_expr();
        if (cast(i64, head) == 0) { head = a; tail = a; }
        else { tail.next = a; tail = a; }
        if (pu.cur().kind == tok.TK_COMMA) { pu.advance(); } else { return head; }
    }
    return head;
}

fn parse_generic_args(out_buf as **u8, out_count as *i32) as void {
    let is i32 as cap with mut = 4;
    let is *u8 as buf with mut = ast.ga_alloc(cap);
    let is i32 as count with mut = 0;
    while (1) {
        let is *ast.Type as t = pt.parse_type();
        if (count >= cap) {
            let is i32 as nc = cap * 2;
            let is *u8 as nb = ast.ga_alloc(nc);
            mem.memcpy(nb, buf, cast(i64, count) * 8);
            buf = nb; cap = nc;
        }
        ast.ga_set(buf, count, t); count = count + 1;
        if (pu.cur().kind == tok.TK_COMMA && pu.is_param_boundary() == 0) { pu.advance(); }
        else { *out_buf = buf; *out_count = count; return; }
    }
}

fn parse_primary() as *ast.Node {
    if (pu.p_panic_mode == 1) { return ast.new_node(ast.NK_NUM); }
    let is *tok.Token as t = pu.cur();
    let is i32 as tidx = pu.p_pos;

    if (t.kind == tok.TK_SIZEOF) {
        pu.advance(); pu.expect(tok.TK_LPAREN);
        let is *ast.Node as n = ast.new_node(ast.NK_SIZEOF);
        n.tok_idx = tidx; n.ty = pt.parse_type();
        pu.expect(tok.TK_RPAREN); return n;
    }

    if (t.kind == tok.TK_CAST) {
        pu.advance(); pu.expect(tok.TK_LPAREN);
        let is *ast.Node as n = ast.new_node(ast.NK_CAST);
        n.tok_idx = tidx; n.ty = pt.parse_type();
        pu.expect(tok.TK_COMMA); n.expr = parse_expr();
        pu.expect(tok.TK_RPAREN); return n;
    }

    if (t.kind == tok.TK_FN_PTR) {
        pu.advance(); pu.expect(tok.TK_LPAREN);
        let is *tok.Token as nt = pu.cur();
        let is *ast.Node as n = ast.new_node(ast.NK_FN_PTR);
        n.tok_idx = tidx; n.name_ptr = nt.ptr; n.name_len = nt.len;
        pu.advance();
        if (pu.cur().kind == tok.TK_DOT) {
            pu.advance();
            n.member_ptr = pu.cur().ptr; n.member_len = pu.cur().len;
            pu.advance(); pu.expect(tok.TK_RPAREN); return n;
        }
        if (pu.cur().kind == tok.TK_GEN) {
            pu.advance();
            let is *u8 as ga with mut; let is i32 as gc with mut;
            parse_generic_args(&ga, &gc);
            let is *u8 as m = pu.mangle_name(nt.ptr, nt.len, ga, gc);
            n.member_ptr = nt.ptr; n.member_len = nt.len;
            n.name_ptr = m; n.name_len = pu.str_len(m);
            n.generic_args = ga; n.generic_arg_count = gc;
            pu.expect(tok.TK_RPAREN); return n;
        }
        pu.expect(tok.TK_RPAREN); return n;
    }

    if (t.kind == tok.TK_INTEGER) {
        let is *ast.Node as n = ast.new_node(ast.NK_NUM);
        n.tok_idx = tidx; n.val = t.int_val; n.ty = ast.type_i64;
        pu.advance(); return n;
    }

    if (t.kind == tok.TK_FLOAT) {
        let is *ast.Node as n = ast.new_node(ast.NK_NUM);
        n.tok_idx = tidx; n.ty = ast.type_f64;
        let is f64 as fv = lu.parse_float(pu.p_src, cast(i64, t.ptr - pu.p_src), cast(i64, t.ptr - pu.p_src) + cast(i64, t.len));
        n.fval = fv;
        pu.advance(); return n;
    }

    if (t.kind == tok.TK_CHAR) {
        let is *ast.Node as n = ast.new_node(ast.NK_NUM);
        n.tok_idx = tidx; n.val = t.int_val; n.ty = ast.type_char;
        pu.advance(); return n;
    }

    if (t.kind == tok.TK_STRING) {
        let is *ast.Node as n = ast.new_node(ast.NK_STRING);
        n.tok_idx = tidx;
        let is i32 as slen with mut = 0;
        n.name_ptr = pu.process_string(t.ptr, t.len, &slen);
        n.name_len = slen;
        pu.advance(); return n;
    }

    if (t.kind == tok.TK_LPAREN) {
        if (pu.peek().kind == tok.TK_IDENT && pu.peek_n(2).kind == tok.TK_RPAREN) {
            let is *ast.Type as maybe = pt.try_primitive(pu.peek().ptr, pu.peek().len);
            if (cast(i64, maybe) != 0) {
                pu.advance(); pu.advance(); pu.advance();
                let is *ast.Node as cn = ast.new_node(ast.NK_CAST);
                cn.tok_idx = tidx; cn.ty = maybe; cn.expr = parse_primary();
                return cn;
            }
        }
        pu.advance();
        let is *ast.Node as e = parse_expr();
        pu.expect(tok.TK_RPAREN); return e;
    }

    if (t.kind == tok.TK_SYSCALL) {
        pu.advance(); pu.expect(tok.TK_LPAREN);
        let is *ast.Node as n = ast.new_node(ast.NK_SYSCALL);
        n.tok_idx = tidx; n.ty = ast.type_i64; n.args = parse_arg_list();
        pu.expect(tok.TK_RPAREN); return n;
    }

    if (t.kind == tok.TK_IDENT) {
        if (tok.streq_lit(t.ptr, t.len, "__builtin_va_start") == 1) {
            pu.advance(); pu.expect(tok.TK_LPAREN);
            let is *ast.Node as n = ast.new_node(ast.NK_VA_START);
            n.tok_idx = tidx; n.expr = parse_expr();
            pu.expect(tok.TK_RPAREN); return n;
        }
        if (tok.streq_lit(t.ptr, t.len, "true") == 1) {
            let is *ast.Node as n = ast.new_node(ast.NK_NUM);
            n.tok_idx = tidx; n.val = 1; n.ty = ast.type_bool;
            pu.advance(); return n;
        }
        if (tok.streq_lit(t.ptr, t.len, "false") == 1) {
            let is *ast.Node as n = ast.new_node(ast.NK_NUM);
            n.tok_idx = tidx; n.val = 0; n.ty = ast.type_bool;
            pu.advance(); return n;
        }
        if (pu.peek().kind == tok.TK_GEN) {
            let is *u8 as op = t.ptr; let is i32 as ol = t.len;
            pu.advance(); pu.advance();
            let is *u8 as ga with mut; let is i32 as gc with mut;
            parse_generic_args(&ga, &gc);
            let is *u8 as m = pu.mangle_name(op, ol, ga, gc);
            let is *ast.Node as id = ast.new_node(ast.NK_IDENT);
            id.tok_idx = tidx; id.name_ptr = m; id.name_len = pu.str_len(m);
            id.generic_args = ga; id.generic_arg_count = gc;
            id.member_ptr = pu.str_dup(op, ol); id.member_len = ol;
            if (pu.cur().kind == tok.TK_LPAREN) {
                pu.advance();
                let is *ast.Node as cn = ast.new_node(ast.NK_FNCALL);
                cn.tok_idx = tidx; cn.lhs = id;
                cn.generic_args = ga; cn.generic_arg_count = gc;
                cn.member_ptr = id.member_ptr; cn.member_len = ol;
                cn.args = parse_arg_list();
                pu.expect(tok.TK_RPAREN); return cn;
            }
            return id;
        }
        if (pu.peek().kind == tok.TK_LPAREN) {
            let is *ast.Node as id = ast.new_node(ast.NK_IDENT);
            id.tok_idx = tidx; id.name_ptr = t.ptr; id.name_len = t.len;
            pu.advance(); pu.advance();
            let is *ast.Node as cn = ast.new_node(ast.NK_FNCALL);
            cn.tok_idx = tidx; cn.lhs = id; cn.args = parse_arg_list();
            pu.expect(tok.TK_RPAREN); return cn;
        }
        let is *ast.Node as n = ast.new_node(ast.NK_IDENT);
        n.tok_idx = tidx; n.name_ptr = t.ptr; n.name_len = t.len;
        pu.advance(); return n;
    }

    pu.error_expected("expected expression");
    return ast.new_node(ast.NK_NUM);
}

fn parse_postfix() as *ast.Node {
    let is *ast.Node as node with mut = parse_primary();
    while (1) {
        if (pu.p_panic_mode == 1) { return node; }

        if (pu.cur().kind == tok.TK_LBRACKET) {
            let is i32 as tidx = pu.p_pos;
            pu.advance();
            let is *ast.Node as idx = ast.new_node(ast.NK_INDEX);
            idx.tok_idx = tidx; idx.lhs = node; idx.rhs = parse_expr();
            pu.expect(tok.TK_RBRACKET); node = idx;
        } else if (pu.cur().kind == tok.TK_DOT) {
            let is i32 as tidx = pu.p_pos;
            pu.advance();
            if (node.kind == ast.NK_IDENT && pu.cur().kind == tok.TK_IDENT && pu.peek().kind == tok.TK_GEN) {
                let is *tok.Token as ft = pu.cur();
                pu.advance(); pu.advance();
                let is *u8 as ga with mut; let is i32 as gc with mut;
                parse_generic_args(&ga, &gc);
                let is i32 as fl = node.name_len + 1 + ft.len;
                let is *u8 as full = mem.galloc(cast(i64, fl) + 1);
                mem.memcpy(full, node.name_ptr, cast(i64, node.name_len));
                full[node.name_len] = 46;
                mem.memcpy(cast(*u8, cast(i64, full) + cast(i64, node.name_len) + 1), ft.ptr, cast(i64, ft.len));
                full[fl] = cast(u8, 0);
                let is *u8 as m = pu.mangle_name(full, fl, ga, gc);
                node.name_ptr = m; node.name_len = pu.str_len(m);
                node.generic_args = ga; node.generic_arg_count = gc;
                node.member_ptr = full; node.member_len = fl;
            } else {
                let is *ast.Node as mn = ast.new_node(ast.NK_MEMBER);
                mn.tok_idx = tidx; mn.lhs = node;
                mn.member_ptr = pu.cur().ptr; mn.member_len = pu.cur().len;
                pu.advance(); node = mn;
            }
        } else if (pu.cur().kind == tok.TK_LPAREN) {
            pu.advance();
            let is *ast.Node as cn = ast.new_node(ast.NK_FNCALL);
            cn.tok_idx = node.tok_idx; cn.lhs = node;
            cn.args = parse_arg_list();
            pu.expect(tok.TK_RPAREN); node = cn;
        } else { return node; }
    }
    return node;
}

fn parse_unary() as *ast.Node {
    let is i32 as tidx = pu.p_pos;
    if (pu.cur().kind == tok.TK_AND) {
        pu.advance(); let is *ast.Node as n = ast.new_node(ast.NK_ADDR);
        n.tok_idx = tidx; n.expr = parse_unary(); return n;
    }
    if (pu.cur().kind == tok.TK_STAR) {
        pu.advance(); let is *ast.Node as n = ast.new_node(ast.NK_DEREF);
        n.tok_idx = tidx; n.expr = parse_unary(); return n;
    }
    if (pu.cur().kind == tok.TK_MINUS) {
        pu.advance(); let is *ast.Node as n = ast.new_node(ast.NK_NEG);
        n.tok_idx = tidx; n.expr = parse_unary(); return n;
    }
    if (pu.cur().kind == tok.TK_NOT) {
        pu.advance(); let is *ast.Node as n = ast.new_node(ast.NK_LNOT);
        n.tok_idx = tidx; n.expr = parse_unary(); return n;
    }
    if (pu.cur().kind == tok.TK_BITNOT) {
        pu.advance(); let is *ast.Node as n = ast.new_node(ast.NK_BNOT);
        n.tok_idx = tidx; n.expr = parse_unary(); return n;
    }
    return parse_postfix();
}

fn parse_mul() as *ast.Node {
    let is *ast.Node as n with mut = parse_unary();
    while (pu.cur().kind == tok.TK_STAR || pu.cur().kind == tok.TK_SLASH || pu.cur().kind == tok.TK_PERCENT) {
        if (pu.cur().kind == tok.TK_STAR) { pu.advance(); n = new_bin(ast.NK_MUL, n, parse_unary()); }
        else if (pu.cur().kind == tok.TK_SLASH) { pu.advance(); n = new_bin(ast.NK_DIV, n, parse_unary()); }
        else { pu.advance(); n = new_bin(ast.NK_MOD, n, parse_unary()); }
    }
    return n;
}

fn parse_add() as *ast.Node {
    let is *ast.Node as n with mut = parse_mul();
    while (pu.cur().kind == tok.TK_PLUS || pu.cur().kind == tok.TK_MINUS) {
        if (pu.cur().kind == tok.TK_PLUS) { pu.advance(); n = new_bin(ast.NK_ADD, n, parse_mul()); }
        else { pu.advance(); n = new_bin(ast.NK_SUB, n, parse_mul()); }
    }
    return n;
}

fn parse_shift() as *ast.Node {
    let is *ast.Node as n with mut = parse_add();
    while (pu.cur().kind == tok.TK_SHL || pu.cur().kind == tok.TK_SHR) {
        if (pu.cur().kind == tok.TK_SHL) { pu.advance(); n = new_bin(ast.NK_SHL, n, parse_add()); }
        else { pu.advance(); n = new_bin(ast.NK_SHR, n, parse_add()); }
    }
    return n;
}

fn parse_relational() as *ast.Node {
    let is *ast.Node as n with mut = parse_shift();
    while (pu.cur().kind == tok.TK_LT || pu.cur().kind == tok.TK_LE || pu.cur().kind == tok.TK_GT || pu.cur().kind == tok.TK_GE) {
        if (pu.cur().kind == tok.TK_LT) { pu.advance(); n = new_bin(ast.NK_LT, n, parse_shift()); }
        else if (pu.cur().kind == tok.TK_LE) { pu.advance(); n = new_bin(ast.NK_LE, n, parse_shift()); }
        else if (pu.cur().kind == tok.TK_GT) { pu.advance(); n = new_bin(ast.NK_GT, n, parse_shift()); }
        else { pu.advance(); n = new_bin(ast.NK_GE, n, parse_shift()); }
    }
    return n;
}

fn parse_equality() as *ast.Node {
    let is *ast.Node as n with mut = parse_relational();
    while (pu.cur().kind == tok.TK_EQEQ || pu.cur().kind == tok.TK_NE) {
        if (pu.cur().kind == tok.TK_EQEQ) { pu.advance(); n = new_bin(ast.NK_EQ, n, parse_relational()); }
        else { pu.advance(); n = new_bin(ast.NK_NE, n, parse_relational()); }
    }
    return n;
}

fn parse_bitwise_and() as *ast.Node {
    let is *ast.Node as n with mut = parse_equality();
    while (pu.cur().kind == tok.TK_AND) { pu.advance(); n = new_bin(ast.NK_BAND, n, parse_equality()); }
    return n;
}

fn parse_bitwise_xor() as *ast.Node {
    let is *ast.Node as n with mut = parse_bitwise_and();
    while (pu.cur().kind == tok.TK_XOR) { pu.advance(); n = new_bin(ast.NK_BXOR, n, parse_bitwise_and()); }
    return n;
}

fn parse_bitwise_or() as *ast.Node {
    let is *ast.Node as n with mut = parse_bitwise_xor();
    while (pu.cur().kind == tok.TK_OR) { pu.advance(); n = new_bin(ast.NK_BOR, n, parse_bitwise_xor()); }
    return n;
}

fn parse_logical_and() as *ast.Node {
    let is *ast.Node as n with mut = parse_bitwise_or();
    while (pu.cur().kind == tok.TK_AND_AND) { pu.advance(); n = new_bin(ast.NK_LAND, n, parse_bitwise_or()); }
    return n;
}

fn parse_logical_or() as *ast.Node {
    let is *ast.Node as n with mut = parse_logical_and();
    while (pu.cur().kind == tok.TK_OR_OR) { pu.advance(); n = new_bin(ast.NK_LOR, n, parse_logical_and()); }
    return n;
}

fn parse_expr() as *ast.Node {
    if (pu.p_panic_mode == 1) { return ast.new_node(ast.NK_NUM); }
    let is *ast.Node as n = parse_logical_or();
    if (pu.cur().kind == tok.TK_EQ) {
        pu.advance();
        let is *ast.Node as a = ast.new_node(ast.NK_ASSIGN);
        a.tok_idx = n.tok_idx; a.lhs = n; a.rhs = parse_expr();
        return a;
    }
    return n;
}
