use "../lexer/tokens.cst" as tok;
use "ast.cst" as ast;
use "util.cst" as pu;
use "type.cst" as pt;
use "expr.cst" as pe;

fn parse_var_decl() as *ast.Node {
    let is i32 as tidx = pu.p_pos;
    pu.expect(tok.TK_LET);
    pu.expect(tok.TK_IS);
    let is *ast.Type as vtype = pt.parse_type();
    pu.expect(tok.TK_AS);
    if (pu.cur().kind != tok.TK_IDENT) { pu.error_expected("expected variable name"); }
    let is *ast.Node as n = ast.new_node(ast.NK_LET);
    n.tok_idx = tidx;
    n.name_ptr = pu.cur().ptr;
    n.name_len = pu.cur().len;
    n.ty = vtype;
    pu.advance();
    let is i32 as vflags with mut = ast.VF_NONE;
    // Parse 'with' clauses: mut, imut, section("...")
    while (pu.cur().kind == tok.TK_WITH) {
        pu.advance();
        if (pu.cur().kind == tok.TK_IDENT) {
            if (tok.streq_lit(pu.cur().ptr, pu.cur().len, "mut") == 1) { vflags = ast.VF_MUT; pu.advance(); }
            else if (tok.streq_lit(pu.cur().ptr, pu.cur().len, "imut") == 1) { vflags = ast.VF_IMUT; pu.advance(); }
            else if (tok.streq_lit(pu.cur().ptr, pu.cur().len, "section") == 1) {
                pu.advance();
                pu.expect(tok.TK_LPAREN);
                if (pu.cur().kind != tok.TK_STRING) { pu.error_expected("expected string argument for section"); }
                n.section_ptr = pu.cur().ptr;
                n.section_len = pu.cur().len;
                pu.advance();
                pu.expect(tok.TK_RPAREN);
            }
            else { pu.error_expected("expected 'mut', 'imut', or 'section' after 'with'"); }
        } else {
            pu.error_expected("expected 'mut', 'imut', or 'section' after 'with'");
        }
    }
    n.flags = vflags;
    if (pu.cur().kind == tok.TK_EQ) {
        pu.advance();
        n.init_expr = pe.parse_expr();
    }
    pu.expect(tok.TK_SEMICOLON);
    return n;
}

fn parse_block() as *ast.Node {
    let is *ast.Node as blk = ast.new_node(ast.NK_BLOCK);
    blk.tok_idx = pu.p_pos;
    pu.expect(tok.TK_LBRACE);
    let is *ast.Node as first with mut = cast(*ast.Node, 0);
    let is *ast.Node as last with mut = cast(*ast.Node, 0);
    while (pu.cur().kind != tok.TK_RBRACE && pu.cur().kind != tok.TK_EOF) {
        let is *ast.Node as s = parse_stmt();
        if (pu.p_panic_mode == 1) {
            pu.sync_stmt();
        } else {
            if (cast(i64, first) == 0) { first = s; } else { last.next = s; }
            last = s;
        }
    }
    pu.expect(tok.TK_RBRACE);
    blk.stmts = first;
    return blk;
}

fn parse_if_stmt() as *ast.Node {
    let is i32 as tidx = pu.p_pos;
    pu.expect(tok.TK_IF);
    let is *ast.Node as n = ast.new_node(ast.NK_IF);
    n.tok_idx = tidx;
    pu.expect(tok.TK_LPAREN);
    n.cond = pe.parse_expr();
    pu.expect(tok.TK_RPAREN);
    n.then_b = parse_block();
    if (pu.cur().kind == tok.TK_ELSE) {
        pu.advance();
        if (pu.cur().kind == tok.TK_IF) { n.else_b = parse_if_stmt(); }
        else { n.else_b = parse_block(); }
    }
    return n;
}

fn parse_while_stmt() as *ast.Node {
    let is i32 as tidx = pu.p_pos;
    pu.expect(tok.TK_WHILE);
    let is *ast.Node as n = ast.new_node(ast.NK_WHILE);
    n.tok_idx = tidx;
    pu.expect(tok.TK_LPAREN);
    n.cond = pe.parse_expr();
    pu.expect(tok.TK_RPAREN);
    n.body = parse_block();
    return n;
}

fn parse_for_stmt() as *ast.Node {
    let is i32 as tidx = pu.p_pos;
    pu.expect(tok.TK_FOR);
    pu.expect(tok.TK_LPAREN);
    let is *ast.Node as n = ast.new_node(ast.NK_FOR);
    n.tok_idx = tidx;
    if (pu.cur().kind != tok.TK_SEMICOLON) {
        if (pu.cur().kind == tok.TK_LET) {
            n.for_init = parse_var_decl();
        } else {
            n.for_init = pe.parse_expr();
            pu.expect(tok.TK_SEMICOLON);
        }
    } else {
        pu.expect(tok.TK_SEMICOLON);
    }
    if (pu.cur().kind != tok.TK_SEMICOLON) {
        n.cond = pe.parse_expr();
    }
    pu.expect(tok.TK_SEMICOLON);
    if (pu.cur().kind != tok.TK_RPAREN) {
        n.for_step = pe.parse_expr();
    }
    pu.expect(tok.TK_RPAREN);
    n.body = parse_block();
    return n;
}

fn parse_do_while_stmt() as *ast.Node {
    let is i32 as tidx = pu.p_pos;
    pu.expect(tok.TK_DO);
    let is *ast.Node as n = ast.new_node(ast.NK_DO_WHILE);
    n.tok_idx = tidx;
    n.body = parse_block();
    pu.expect(tok.TK_WHILE);
    pu.expect(tok.TK_LPAREN);
    n.cond = pe.parse_expr();
    pu.expect(tok.TK_RPAREN);
    pu.expect(tok.TK_SEMICOLON);
    return n;
}

fn parse_asm_stmt() as *ast.Node {
    let is i32 as tidx = pu.p_pos;
    pu.advance();
    pu.expect(tok.TK_LPAREN);
    if (pu.cur().kind != tok.TK_STRING) { pu.error_expected("expected string after 'asm('"); }
    let is *ast.Node as n = ast.new_node(ast.NK_ASM);
    n.tok_idx = tidx;
    // Process string with escape sequences (\n, \t, \x etc)
    let is i32 as slen with mut = 0;
    n.name_ptr = pu.process_string(pu.cur().ptr, pu.cur().len, &slen);
    n.name_len = slen;
    pu.advance();
    pu.expect(tok.TK_RPAREN);
    pu.expect(tok.TK_SEMICOLON);
    return n;
}

fn parse_match_stmt() as *ast.Node {
    let is i32 as tidx = pu.p_pos;
    pu.expect(tok.TK_MATCH);
    let is *ast.Type as mtype = pt.parse_type();
    pu.expect(tok.TK_LPAREN);
    let is *ast.Node as mexpr = pe.parse_expr();
    pu.expect(tok.TK_RPAREN);
    pu.expect(tok.TK_LBRACE);
    let is *ast.Node as mn = ast.new_node(ast.NK_MATCH);
    mn.tok_idx = tidx;
    mn.expr = mexpr;
    mn.match_type = mtype;
    let is *ast.Node as cfirst with mut = cast(*ast.Node, 0);
    let is *ast.Node as clast with mut = cast(*ast.Node, 0);
    while (pu.cur().kind != tok.TK_RBRACE && pu.cur().kind != tok.TK_EOF) {
        if (pu.cur().kind == tok.TK_ELSE) {
            pu.advance();
            mn.else_b = parse_block();
            break;
        }
        pu.expect(tok.TK_CASE);
        if (pu.cur().kind != tok.TK_IDENT) { pu.error_expected("expected variant name after 'case'"); }
        let is *ast.Node as cn = ast.new_node(ast.NK_BLOCK);
        cn.tok_idx = pu.p_pos;
        cn.name_ptr = pu.cur().ptr;
        cn.name_len = pu.cur().len;
        pu.advance();
        if (pu.cur().kind == tok.TK_LPAREN) {
            pu.advance();
            let is *ast.Node as pfirst with mut = cast(*ast.Node, 0);
            let is *ast.Node as plast with mut = cast(*ast.Node, 0);
            while (pu.cur().kind != tok.TK_RPAREN && pu.cur().kind != tok.TK_EOF) {
                if (pu.cur().kind != tok.TK_IDENT) { pu.error_expected("expected binding name"); }
                let is *ast.Node as b = ast.new_node(ast.NK_LET);
                b.tok_idx = pu.p_pos;
                b.name_ptr = pu.cur().ptr;
                b.name_len = pu.cur().len;
                pu.advance();
                if (cast(i64, pfirst) == 0) { pfirst = b; } else { plast.next = b; }
                plast = b;
                if (pu.eat(tok.TK_COMMA) == 0) { break; }
            }
            pu.expect(tok.TK_RPAREN);
            cn.params = pfirst;
        }
        cn.body = parse_block();
        if (cast(i64, cfirst) == 0) { cfirst = cn; } else { clast.next = cn; }
        clast = cn;
    }
    pu.expect(tok.TK_RBRACE);
    mn.cases = cfirst;
    return mn;
}

fn parse_stmt() as *ast.Node {
    if (pu.p_panic_mode == 1) { return ast.new_node(ast.NK_BLOCK); }

    if (pu.cur().kind == tok.TK_SEMICOLON) {
        pu.advance();
        return ast.new_node(ast.NK_BLOCK);
    }
    if (pu.cur().kind == tok.TK_LET) { return parse_var_decl(); }
    if (pu.cur().kind == tok.TK_FOR) { return parse_for_stmt(); }
    if (pu.cur().kind == tok.TK_DO) { return parse_do_while_stmt(); }
    if (pu.cur().kind == tok.TK_IF) { return parse_if_stmt(); }
    if (pu.cur().kind == tok.TK_RETURN) {
        let is i32 as tidx = pu.p_pos;
        pu.advance();
        let is *ast.Node as n = ast.new_node(ast.NK_RETURN);
        n.tok_idx = tidx;
        if (pu.cur().kind != tok.TK_SEMICOLON) { n.expr = pe.parse_expr(); }
        pu.expect(tok.TK_SEMICOLON);
        return n;
    }
    if (pu.cur().kind == tok.TK_LBRACE) { return parse_block(); }
    if (pu.cur().kind == tok.TK_ASM) { return parse_asm_stmt(); }
    if (pu.cur().kind == tok.TK_WHILE) { return parse_while_stmt(); }
    if (pu.cur().kind == tok.TK_MATCH) { return parse_match_stmt(); }
    if (pu.cur().kind == tok.TK_BREAK) {
        let is i32 as tidx = pu.p_pos;
        pu.advance();
        pu.expect(tok.TK_SEMICOLON);
        let is *ast.Node as n = ast.new_node(ast.NK_BREAK);
        n.tok_idx = tidx;
        return n;
    }
    if (pu.cur().kind == tok.TK_CONTINUE) {
        let is i32 as tidx = pu.p_pos;
        pu.advance();
        pu.expect(tok.TK_SEMICOLON);
        let is *ast.Node as n = ast.new_node(ast.NK_CONTINUE);
        n.tok_idx = tidx;
        return n;
    }
    if (pu.cur().kind == tok.TK_DEFER) {
        let is i32 as tidx = pu.p_pos;
        pu.advance();
        let is *ast.Node as n = ast.new_node(ast.NK_DEFER);
        n.tok_idx = tidx;
        n.expr = pe.parse_expr();
        pu.expect(tok.TK_SEMICOLON);
        return n;
    }

    let is *ast.Node as e = pe.parse_expr();

    if (pu.cur().kind == tok.TK_ASSIGN) {
        pu.advance();
        let is *ast.Node as a = ast.new_node(ast.NK_ASSIGN);
        a.tok_idx = e.tok_idx;
        a.lhs = e;
        a.rhs = pe.parse_expr();
        pu.expect(tok.TK_SEMICOLON);
        let is *ast.Node as es = ast.new_node(ast.NK_EXPR_STMT);
        es.tok_idx = e.tok_idx;
        es.expr = a;
        return es;
    }

    if (pu.is_compound_assign(pu.cur().kind) == 1) {
        let is i32 as op = pu.compound_to_binop(pu.cur().kind);
        pu.advance();
        let is *ast.Node as binop = ast.new_node(op);
        binop.tok_idx = e.tok_idx;
        binop.lhs = ast.clone_node(e);
        binop.rhs = pe.parse_expr();
        let is *ast.Node as a = ast.new_node(ast.NK_ASSIGN);
        a.tok_idx = e.tok_idx;
        a.lhs = e;
        a.rhs = binop;
        pu.expect(tok.TK_SEMICOLON);
        let is *ast.Node as es = ast.new_node(ast.NK_EXPR_STMT);
        es.tok_idx = e.tok_idx;
        es.expr = a;
        return es;
    }

    pu.expect(tok.TK_SEMICOLON);
    let is *ast.Node as es = ast.new_node(ast.NK_EXPR_STMT);
    es.tok_idx = e.tok_idx;
    es.expr = e;
    return es;
}
