use "../std/mem.cst" only bins, core as mem;
use "json.cst" as json;

struct Document {
    uri_ptr as *u8;
    uri_len as i32;
    text_ptr as *u8;
    text_len as i32;
    version as i32;
    path_ptr as *u8;
    path_len as i32;
    next as *u8;
}

let is *u8 as doc_list with mut;

fn init() as void {
    doc_list = cast(*u8, 0);
}

fn _streq(a as *u8, alen as i32, b as *u8, blen as i32) as i32 {
    if (alen != blen) { return 0; }
    let is i32 as i with mut = 0;
    while (i < alen) {
        if (a[i] != b[i]) { return 0; }
        i = i + 1;
    }
    return 1;
}

fn find(uri as *u8, uri_len as i32) as *Document {
    let is *Document as d with mut = cast(*Document, doc_list);
    while (cast(i64, d) != 0) {
        if (_streq(d.uri_ptr, d.uri_len, uri, uri_len) == 1) {
            return d;
        }
        d = cast(*Document, d.next);
    }
    return cast(*Document, 0);
}

fn doc_open(uri as *u8, uri_len as i32, text as *u8, text_len as i32, version as i32) as *Document {
    let is *Document as d = cast(*Document, json.alloc(80));
    d.uri_ptr = json.alloc(cast(i64, uri_len) + 1);
    mem.core.memcpy(d.uri_ptr, uri, cast(i64, uri_len));
    d.uri_ptr[uri_len] = cast(u8, 0);
    d.uri_len = uri_len;
    d.text_ptr = json.alloc(cast(i64, text_len) + 1);
    mem.core.memcpy(d.text_ptr, text, cast(i64, text_len));
    d.text_ptr[text_len] = cast(u8, 0);
    d.text_len = text_len;
    d.version = version;
    d.path_ptr = cast(*u8, 0);
    d.path_len = 0;
    d.next = doc_list;
    doc_list = cast(*u8, d);
    return d;
}

fn update(d as *Document, text as *u8, text_len as i32, version as i32) as void {
    json.jfree(d.text_ptr);
    d.text_ptr = json.alloc(cast(i64, text_len) + 1);
    mem.core.memcpy(d.text_ptr, text, cast(i64, text_len));
    d.text_ptr[text_len] = cast(u8, 0);
    d.text_len = text_len;
    d.version = version;
}

fn first_doc() as *Document {
    return cast(*Document, doc_list);
}

fn doc_close(uri as *u8, uri_len as i32) as void {
    let is *Document as prev with mut = cast(*Document, 0);
    let is *Document as d with mut = cast(*Document, doc_list);
    while (cast(i64, d) != 0) {
        if (_streq(d.uri_ptr, d.uri_len, uri, uri_len) == 1) {
            if (cast(i64, prev) == 0) { doc_list = d.next; }
            else { prev.next = d.next; }
            return;
        }
        prev = d;
        d = cast(*Document, d.next);
    }
}
