use "../../std/os/windows.cst" as win;

fn main() as i32 {
    let is i64 as h = win.GetStdHandle(win.STD_OUTPUT_HANDLE);
    let is u32 as wrote = 0;
    win.WriteFile(h, "Hello from std/os/windows!\n", 27, &wrote, cast(*u8, 0));
    return 0;
}
