use "../std/mem.cst" as mem;
use "../std/linux.cst" as linux;

fn main() as i32 {
    mem.gheapinit(1048576);
    let is *u8 as p = mem.galloc(64);
    p[0] = 42;
    let is i32 as val = cast(i32, p[0]);
    mem.gfree(p);
    return val;
}
