use "../std/mem.cst" as mem;
let is mem.bins.Bins as _heap with mut;
use "../std/linux.cst" as linux;


fn main() as i32 {
    _heap = mem.bins.bins_new(1048576);
    let is *u8 as p = mem.bins.bins_alloc(&_heap,  64);
    p[0] = 42;
    let is i32 as val = cast(i32, p[0]);
    mem.bins.bins_free(&_heap,  p);
    return val;
}
