fn main() as i32 {
    let is [16]i32 as a; let is i64 as i with mut = 0;
    while (i < 16) { a[i] = cast(i32, i); i = i + 1; }     // loop 1 (sequential)
    let is i32 as s with mut = 0; let is i64 as r with mut = 0;
    while (r < 4) {                                         // loop 2 (outer of nest)
        let is i64 as c with mut = 0;
        while (c < 4) { s = s + a[r*4+c]; c = c + 1; }      // loop 3 (inner, innermost)
        r = r + 1;
    }
    return s;
}
