fn f(a as *i32, k as i64, n as i64) as i32 {
    let is i32 as s with mut = 0; let is i64 as i with mut = 0;
    while (i < n) {
        s = s + a[i] + a[2*i] + a[i+1] + a[k];
        i = i + 1;
    }
    return s;
}
fn main() as i32 { let is [8]i32 as a; let is i64 as j with mut=0; while(j<8){a[j]=cast(i32,j);j=j+1;} return f(&a[0], 0, 4); }
