// =======================================================
// std/linux.cst
// Syscalls Essenciais (Linux x86_64 System V ABI)
// =======================================================

// --- Flags (Argumentos Imutáveis) ---

// File Descriptors
let is i64 as STDIN  with imut = 0;
let is i64 as STDOUT with imut = 1;
let is i64 as STDERR with imut = 2;

// open() flags
let is i64 as O_RDONLY with imut = 0;
let is i64 as O_WRONLY with imut = 1;
let is i64 as O_RDWR   with imut = 2;
let is i64 as O_CREAT  with imut = 64;  // 0x40
let is i64 as O_TRUNC  with imut = 512; // 0x200

// lseek() whence
let is i64 as SEEK_SET with imut = 0;
let is i64 as SEEK_CUR with imut = 1;
let is i64 as SEEK_END with imut = 2;

// mmap() prot & flags
let is i64 as PROT_READ     with imut = 1;
let is i64 as PROT_WRITE    with imut = 2;
let is i64 as PROT_EXEC     with imut = 4;
let is i64 as MAP_SHARED    with imut = 1;
let is i64 as MAP_PRIVATE   with imut = 2;
let is i64 as MAP_ANONYMOUS with imut = 32;

// --- Wrappers (Ordem Numérica) ---

// 0: READ - Ler de arquivo/stream
fn read(fd as i64, buf as *u8, count as i64) as i64 {
    return syscall(0, fd, buf, count);
}

// 1: WRITE - Escrever em arquivo/stream
fn write(fd as i64, buf as *u8, count as i64) as i64 {
    return syscall(1, fd, buf, count);
}

// 2: OPEN - Abrir arquivo
fn open(path as *u8, flags as i64, mode as i64) as i64 {
    return syscall(2, path, flags, mode);
}

// 3: CLOSE - Fechar descritor
fn close(fd as i64) as i64 {
    return syscall(3, fd);
}

// 8: LSEEK - Mover cursor (útil para pegar tamanho de arquivo)
fn lseek(fd as i64, offset as i64, whence as i64) as i64 {
    return syscall(8, fd, offset, whence);
}

// 9: MMAP - Alocar páginas de memória
fn mmap(addr as *u8, len as i64, prot as i64, flags as i64, fd as i64, off as i64) as *u8 {
    return cast(*u8, syscall(9, addr, len, prot, flags, fd, off));
}

// 11: MUNMAP - Desalocar páginas
fn munmap(addr as *u8, len as i64) as i64 {
    return syscall(11, addr, len);
}

// 12: BRK - Ajustar topo da heap (alocador simples)
fn brk(addr as *u8) as *u8 {
    return cast(*u8, syscall(12, addr));
}

// 60: EXIT - Terminar processo
fn exit(code as i32) as void {
    syscall(60, code);
}