use "../std/linux.cst" as linux;

fn strlen(s as *u8) as i64 {
    let is i64 as i with mut = 0;
    while (s[i] != 0) { i = i + 1; }
    return i;
}

fn write_str(fd as i64, s as *u8) as void {
    linux.write(fd, s, strlen(s));
}

fn write_n(fd as i64, s as *u8, n as i64) as void {
    linux.write(fd, s, n);
}

fn write_int(fd as i64, n as i64) as void {
    if (n == 0) { linux.write(fd, "0", 1); return; }
    let is [24]u8 as buf;
    let is i64 as val with mut = n;
    let is i64 as neg with mut = 0;
    if (val < 0) { neg = 1; val = 0 - val; }
    let is i32 as pos with mut = 23;
    while (val > 0) {
        buf[pos] = cast(u8, (val % 10) + 48);
        val = val / 10;
        pos = pos - 1;
    }
    if (neg == 1) { buf[pos] = 45; pos = pos - 1; }
    let is i64 as start = cast(i64, pos) + 1;
    linux.write(fd, cast(*u8, cast(i64, &buf) + start), 24 - start);
}
