extern fn a64_other_sum(a as i64, b as i64) as i64;
extern let is i64 as a64_other_value;

fn main() as i32 {
    if (a64_other_sum(20, 22) != 42) { return 1; }
    if (a64_other_value != 99) { return 2; }
    return 0;
}
